.equal-height-container{
	max-width: 900px;
	margin: 0 auto;
	display: flex; 
}

.first{
	background-color: #FFF;
	padding: 20px;
	flex: 1;
}

.second{
	background-color: yellow;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.second-a{
	background-color: #5125;
	flex: 1;
}

.second-b{
	background-color: #1456;
	flex: 1;
}